[project]
	description = Library for computing the sunrise/sunset from GPS coordinates and a date, in Java.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Martin Brown (hooshman)
[access "refs/for/refs/*"]
	read = group user/Martin Brown (hooshman)
	push = group user/Martin Brown (hooshman)
	label-Code-Review = -2..+2 group user/Martin Brown (hooshman)
	label-Verified = -1..+1 group user/Martin Brown (hooshman)
	rebase = group user/Martin Brown (hooshman)
	removeReviewer = group user/Martin Brown (hooshman)
	submit = group user/Martin Brown (hooshman)
[access "refs/heads/*"]
	read = group user/Martin Brown (hooshman)
	create = group user/Martin Brown (hooshman)
	push = +force group user/Martin Brown (hooshman)
	pushMerge = group user/Martin Brown (hooshman)
[access "refs/tags/*"]
	push = +force group user/Martin Brown (hooshman)
	pushTag = group user/Martin Brown (hooshman)
	pushSignedTag = group user/Martin Brown (hooshman)
